<script type="text/template" id="hand-template">
		<button class="btn hit">Hit</button>
		<button class="btn stand">Stand</button>
</script>
<%= assets['bootstrap css'] %>
<%= assets['styles'] %>

<style>
	.cards { position: relative; }
	.cards > * { position: absolute; }
	.chips { position: relative; }
	.chips .chip { position: absolute; }
	.chips .summary { position: absolute; color: #000; font-size: 11px; background-color: #eee; }
</style>

<%= assets['jquery'] %>
<%= assets['browserify'] %>

<div id="chipsView1">
	<h1>Chips View 1</h1>
	<div class="controls">
		<a href="#create">Create</a>
		<a href="#destroy">Destroy</a>
	</div>
	<div class="container"></div>
</div>
<div id="cardView1">
	<h1>Card View 1</h1>
	<div class="controls">
		<a href="#create">Create</a>
		<a href="#destroy">Destroy</a>
	</div>
	<div class="container"></div>
</div>
<div id="cardView2">
	<h1>Card View 2</h1>
	<div class="controls">
		<a href="#create">Appear</a>
		<a href="#destroy">Discard</a>
	</div>
	<div class="container"></div>
</div>
<div id="cardsView1">
	<h1>Cards View, layout 1</h1>
	<div class="controls">
		<a href="#create">Appear</a>
		<a href="#destroy">Discard</a>
	</div>
	<div class="container"></div>
</div>
<div id="cardsView2">
	<h1>Cards View, layout 2</h1>
	<div class="controls">
		<a href="#create">Appear</a>
		<a href="#destroy">Discard</a>
	</div>
	<div class="container"></div>
</div>
<div id="handView1">
	<h1>Hand view 1</h1>
	<div class="controls">
		<a href="#create">Appear</a>
		<a href="#destroy">Discard</a>
	</div>
	<div class="container"></div>
</div>
<div id="handsView1">
	<h1>Hands view 1</h1>
	<div class="controls">
		<a href="#create">Appear</a>
		<a href="#destroy">Discard</a>
	</div>
	<div class="container"></div>
</div>
<script>
	// Card view 1
	$(function() {
		(function($parent) {
			var view
			, $create = $parent.find('>.controls>a[href="#create"]')
			, $destroy = $parent.find('>.controls>a[href="#destroy"]').toggle()
			$create.click(function(e) {
				e.preventDefault();
				var model = new Backbone.Model({ value: Math.floor(Math.random() * 1000) * 25 + 25 });
				view = new App.ChipsView({ model: model }).render();
				view.$el.appendTo($parent.find('>.container'));
				$create.toggle();
				$destroy.toggle();
			});

			$destroy.click(function(e) {
				e.preventDefault();
				view.destroy();
				view = null;
				$create.toggle();
				$destroy.toggle();
			});
		})($('#chipsView1'));

		(function($parent) {
			var view
			, $create = $parent.find('>.controls>a[href="#create"]')
			, $destroy = $parent.find('>.controls>a[href="#destroy"]').toggle()
			$create.click(function(e) {
				e.preventDefault();
				var model = new App.Card({ value: Math.round(Math.random() * 52) });
				view = new App.CardView({ model: model }).render();
				view.$el.appendTo($parent.find('>.container'));
				$create.toggle();
				$destroy.toggle();
			});

			$destroy.click(function(e) {
				e.preventDefault();
				view.destroy();
				view = null;
				$create.toggle();
				$destroy.toggle();
			});
		})($('#cardView1'));

		(function($parent) {
			var view
			, $create = $parent.find('>.controls>a[href="#create"]')
			, $destroy = $parent.find('>.controls>a[href="#destroy"]').toggle()
			$create.click(function(e) {
				e.preventDefault();
				var model = new App.Card({ value: Math.round(Math.random() * 52) });
				view = new App.CardView({ model: model }).render();
				view.$el.appendTo($parent.find('>.container'));
				$create.toggle();
				view.appear(Math.round(Math.random() * 2500), function() {
					$destroy.toggle();
				});
			});

			$destroy.click(function(e) {
				e.preventDefault();
				$destroy.toggle();
				view.discard(Math.round(Math.random() * 2500), function() {
					view = null;
					$create.toggle();
				});
			});
		})($('#cardView2'));

		(function($parent) {
			var view
			, collection
			, $create = $parent.find('>.controls>a[href="#create"]')
			, $destroy = $parent.find('>.controls>a[href="#destroy"]').toggle()
			$create.click(function(e) {
				e.preventDefault();
				$create.toggle();

				collection = new App.Cards();
				view = new App.CardsView({ collection: collection, layout: 2 });
				view.render().$el.appendTo($parent.find('>.container'));

				async.forEachSeries(_.range(0, 10), function(value, callback) {
					var model = new App.Card({ value: value });
					collection.add(model, { animate: 20, callback: callback });
				}, function() {
					$destroy.toggle();
				});
			});

			$destroy.click(function(e) {
				e.preventDefault();
				$destroy.toggle();
				collection.reset([], { animate: Math.round(Math.random() * 2500), callback: function() {
					view.destroy();
					view = null;
					$create.toggle();
				}});
			});
		})($('#cardsView1'));

		(function($parent) {
			var view
			, collection
			, $create = $parent.find('>.controls>a[href="#create"]')
			, $destroy = $parent.find('>.controls>a[href="#destroy"]').toggle()
			$create.click(function(e) {
				e.preventDefault();
				$create.toggle();

				collection = new App.Cards();
				view = new App.CardsView({ collection: collection, layout: 1 });
				view.render().$el.appendTo($parent.find('>.container'));

				async.forEachSeries(_.range(0, 10), function(value, callback) {
					var model = new App.Card({ value: value });
					collection.add(model, { animate: 20, callback: callback });
				}, function() {
					$destroy.toggle();
				});
			});

			$destroy.click(function(e) {
				e.preventDefault();
				$destroy.toggle();
				collection.reset([], { animate: Math.round(Math.random() * 2500), callback: function() {
					view.destroy();
					view = null;
					$create.toggle();
				}});
			});
		})($('#cardsView2'));

		(function($parent) {
			var view
			, $create = $parent.find('>.controls>a[href="#create"]')
			, $destroy = $parent.find('>.controls>a[href="#destroy"]').toggle()
			$create.click(function(e) {
				e.preventDefault();
				var model = new App.Hand({ index: 0, cards: [] }, { parse: true });
				view = new App.HandView({ model: model }).render();
				view.$el.appendTo($parent.find('>.container'));
				$create.toggle();
				$destroy.toggle();
			});

			$destroy.click(function(e) {
				e.preventDefault();
				view.destroy();
				view = null;
				$create.toggle();
				$destroy.toggle();
			});
		})($('#handView1'));

		(function($parent) {
			var view
			, collection
			, $create = $parent.find('>.controls>a[href="#create"]')
			, $destroy = $parent.find('>.controls>a[href="#destroy"]').toggle()
			$create.click(function(e) {
				e.preventDefault();
				$create.toggle();

				collection = new App.Hands([{ index: 0, cards: [{value:1}, {value:2}] }, { index: 1, cards: [{value:3}, {value:4}]}], { parse: true });
				view = new App.HandsView({ collection: collection });
				view.render().$el.appendTo($parent.find('>.container'));
			});

			$destroy.click(function(e) {
				e.preventDefault();
				$destroy.toggle();
				collection.reset([], { animate: Math.round(Math.random() * 2500), callback: function() {
					view.destroy();
					view = null;
					$create.toggle();
				}});
			});
		})($('#handsView1'));
	});
</script>
